body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
    position: relative;
}

.container {
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 1000px;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    margin: auto;
}

.container h1 {
    margin-bottom: 20px;
    font-size: 2em;
    text-align: center;
}

.statistics-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.stat {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stat h2, .stat p {
    margin: 0;
    font-size: 1.2em;
}

.stat h2 {
    flex: 1;
    white-space: nowrap;
}

.stat p {
    flex: 1;
    text-align: right;
    padding-left: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

header h1 {
    color: #343a40;
    margin: 0;
}

.header-buttons {
    display: flex;
    gap: 10px;
}

button, #viewResults {
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

button:hover, #viewResults:hover {
    background-color: #0056b3;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background: #ffffff;
    padding: 20px;
    border: 1px solid #ced4da;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #495057;
    margin-bottom: 10px;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #495057;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="checkbox"],
input[type="radio"] {
    margin-right: 10px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}

.favourite-food-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.favourite-food {
    display: flex;
    gap: 10px;
    align-items: center;
}

.favourite-food label {
    display: flex;
    align-items: center;
    gap: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ced4da;
}

th, td {
    padding: 10px;
    text-align: center;
}

.label-button {
    padding: 10px 20px;
    background-color: #f8f9fa;
    color: #000000;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    margin-right: 10px;
}

.label-button:hover {
    background-color: #357fe0;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 2px solid green;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: none;
}

.popup button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .container, form {
        padding: 15px;
    }

    .statistics-container, .favourite-food-container {
        flex-direction: column;
        gap: 20px;
    }

    .stat h2, .stat p {
        font-size: 1em;
    }

    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .header-buttons {
        flex-direction: column;
        width: 100%;
        gap: 5px;
    }

    table, th, td {
        padding: 5px;
        font-size: 0.8em;
    }

    button, #viewResults, .label-button {
        padding: 10px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.5em;
    }

    .header-buttons {
        align-items: stretch;
    }

    .stat h2, .stat p {
        font-size: 0.9em;
    }

    table, th, td {
        padding: 5px;
        font-size: 0.7em;
    }
}
